.idea/
.DS_Store
.env
*.log
node_modules/
backend/vendor/
backend/storage/*.key
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/framework/testing/*
backend/public/build/
backend/public/hot
backend/public/storage
backend/.phpunit.result.cache
backend/.env
backend/.env.backup
frontend/dist/
frontend/.env
watcher/dist/
watcher/data/
watcher/.env
